<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>test</string>
    <key>version</key>
    <string>1.0</string>
    <key>category</key>
    <string>app-misc</string>
    <key>desc</key>
    <string>A test package</string>
    <key>maintainer</key>
    <string>George K. &lt;gk_coder@icloud.com&gt;</string>
    <key>source</key>
    <string>https://raw.githubusercontent.com/oriole-linux/packages/master/app-misc/test/test-1.0.tar.gz</string>
    <key>checksum</key>
    <string>n/a</string>
    <key>deps</key>
    <array />
    <key>configuring</key>
    <string>mkdir -p STAGING &amp;&amp; sh configure --prefix=/usr</string>
    <key>build</key>
    <string>make</string>
    <key>install</key>
    <string>DESTDIR=STAGING make install</string>
    <key>post</key>
    <string>echo "Wow! The installation worked! Why don't you fire up a shell and type 'test' now?"</string>
    <key>remove</key>
    <string>make uninstall</string>
</dict>
</plist>
